.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.filter{
	margin-left: 20px;
}
.filter-input{
	margin-left: 20px;
	padding: 5px 10px;
}
.filter-label{
	font-weight: bold;
}

.marker-label{
	display:none;
	font-size: 7px;
}
.marker-container:hover .marker-label{
 	display:block;
}
.carousel{
	padding: 1.5rem;
	margin-bottom: 1rem;
	background: lightgrey;
}
.carousel-item img{
	margin: 0 auto;
}
.carousel-indicators li{
	width: 10px;
	height:10px;
	flex-grow: 0;
	border-radius: 100%;
}
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
}